ion-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  color: black;
  padding-right: 8em;
}

ion-icon {
  font-size: 30px;
  font-weight: bold;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 29px;
  color: black;
  padding-right: 4em;
}


.weight-value{
  font-size: 20px;
  padding-top: 3em;
}

.date {
  padding-left: 2em;
}
