
  <div class="ion-content">
    <div class="overlay-section">
      <ion-grid class="main-container">
        <ion-grid>
          <ion-label class="title-2">Chats</ion-label>
        </ion-grid>
        <div>
          <div>
            <div class="notification-header">
              <h3 class="day">Today</h3>
            </div>
            <div class="notification-container">
              <div class="single-notification">
                <div class="time">
                  <div></div>
                  <p class="time">5 mins ago</p>
                </div>
                <div class="notification-item">
                  <div class="notification-details">
                    <h3 class="notification-title">John Doe</h3>
                    <h3 class="notification-description">Hi there.
                    </h3>
                  </div>
                </div>
              </div>
              <div class="single-notification">
                <div class="time">
                  <div></div>
                  <p class="time">5 mins ago</p>
                </div>
                <div class="notification-item">
                  <div class="notification-details">
                    <h3 class="notification-title">Jane Doe</h3>
                    <h3 class="notification-description">When are we working out.
                    </h3>
                  </div>
                </div>
              </div>
              <div class="single-notification">
                <div class="time">
                  <div></div>
                  <p class="time">5 mins ago</p>
                </div>
                <div class="notification-item">
                  <div class="notification-details">
                    <h3 class="notification-title">Coach</h3>
                    <h3 class="notification-description">Great progress.
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="notification-header">
              <h3 class="day">Yesterday</h3>
            </div>
            <div class="notification-container">
              <div class="notification-item">
                <div class="notification-details">
                  <h3 class="notification-title">Trainer</h3>
                  <h3 class="notification-description">Sent you a diet.
                  </h3>
                </div>
                <div class="notification-time">
                  <h4 class="time"></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-grid>
    </div>
  </div>
