<div class="ion-content">
  <div class="overlay-section">
    <ion-grid class="main-container">

      <div class="arrow-background">
        <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
      </div>
      <ion-grid>
        <ion-row>
          <ion-label text-wrap class="title-2">About us</ion-label>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-label text-wrap class="title-3">Digitising Africa's Economy

            TeamApt was founded in 2015 with the vision to digitize Africa’s economy. It does this by building financial platforms for businesses; providing them with all the payment, banking, credit and business management tools they need to succeed.
          </ion-label>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-label text-wrap class="title-2">Contact us</ion-label>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row style="display: flex; align-items: center;">
          <ion-icon name="call" color="primary"></ion-icon>
          <div style="margin-left: 10px;">
            <ion-label text-wrap class="heading">+23472XXXXXXX
            </ion-label>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row style="display: flex; align-items: center;">
          <ion-icon name="mail-outline" color="primary"></ion-icon>
          <div style="margin-left: 10px;">
            <ion-label text-wrap class="heading">info@teamapt.com
            </ion-label>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row style="display: flex; align-items: center;">
           <ion-icon name="logo-facebook" color="primary"></ion-icon>
          <div style="margin-left: 10px;">
            <ion-label text-wrap class="heading">teamApt
            </ion-label>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row style="display: flex; align-items: center;">
           <ion-icon name="logo-twitter" color="primary"></ion-icon>
          <div style="margin-left: 10px;">
            <ion-label text-wrap class="heading">@teamApt
            </ion-label>
          </div>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </div>
</div>
